
<div class="cards-container">
  <div class="row">
    <div class="col-12 col-s-6">
      <% @events.each do |event|%>
        <%= link_to  event_path(event) do %>
        <div class="card-match">
        <% event.teams.each do |team| %>
          <h2><%=team.name %></h2>
            <div><%=cl_image_tag team.photo.key, class: "picture", crop: :fill, width: 50 %></div>
          <% end %>
        <h4><%= event.competition %></h4>
        <br>
        <%# <h4><%= event.date.strftime("%d/%m/%Y")</h4>  %>
        <%= event.hour("%H")%>
        <br>
        <%# <h4><%= event.location</h4> %>
        <br>
        <p><%= event.channel %></p>
        </div>
        <% end %>
      <% end %>
        <%= render "shared/navbar" %>
    </div>
  </div>
</div>
