
<div class="main_index_container">
  <div class="index_container">
    <div class="day">
      <%# <p>DEMAIN</p> %>
    </div>

    <h1><%= "Aujourd'hui" %></h1>
    <% @events_today.each do |event|%>
      <%= render "cards_events", event: event %>
    <% end %>

    <h1><%= "Demain" %></h1>
    <% @events_tomorrow.each do |event|%>
      <%= render "cards_events", event: event %>
    <% end %>

    <h1><%= "Plus tard" %></h1>
    <% @events.each do |event|%>
        <%= render "cards_events", event: event %>
    <% end %>
    </div>
  <%= render "shared/navbar" %>
</div>
