
<<<<<<< HEAD
<div class="main_index_container">
  <div class="index_container">
    <div class="day">
    </div>
    <% @events.each do |event|%>
      <%= link_to event_path(event) do %>
        <div class="match_index_card">
          <div class="event">
            <h4 class="event_competition_type"><%= event.competition %></h4>
          </div>
          <div class="next_event">
            <div class="contest">
              <div class="team team_first">
                <%=cl_image_tag event.teams.first.photo.key, class: "picture", crop: :fill, width: 50 %>
                <h2><%=event.teams.first.name %></h2>

              </div>
              <div class="versus">
                <%=image_tag("vs.png")%>
              </div>
              <div class="team team_last">
                <%=cl_image_tag event.teams.last.photo.key, class: "picture", crop: :fill, width: 50 %>
                <h2><%=event.teams.last.name %></h2>

              </div>
            </div>

            <div class="channel">
              <p><%= event.channel %></p>
              <%=image_tag("TF1_logo.jpg")%>
            </div>
          </div>
=======
<div class="cards-container">
  <div class="row">
    <div class="col-12 col-s-6">
      <% @events.each do |event|%>
        <%= link_to  event_path(event) do %>
        <div class="card-match">
        <% event.teams.each do |team| %>
          <h2><%=team.name %></h2>
            <div><%=cl_image_tag team.photo.key, class: "picture", crop: :fill, width: 50 %></div>
          <% end %>
        <h4><%= event.competition %></h4>
        <br>
        <%# <h4><%= event.date.strftime("%d/%m/%Y")</h4>  %>
        <%= event.hour("%H")%>
        <br>
        <%# <h4><%= event.location</h4> %>
        <br>
        <p><%= event.channel %></p>
>>>>>>> 094c563a8672c28f14a38547aa71deb589d3b7fa
        </div>
        <% end %>
      <% end %>
        <%= render "shared/navbar" %>
    </div>
  </div>
</div>
