<%# view de events %>

<%# <h1>Places</h1> %>
<%# <%= render "shared/navbar" %>
<div class="cards-container-show-events">
  <div class="row-show-events">
    <div class="col-12 col-lg-6">
    <div class="logo">
      <div class="png"><%= image_tag "Component 8 (2).png",height:60, width: 80%></div>
    </div>
      <%# div competition %>
      <div class="competition-show-events">
        <%# <h1><%= @event.competition</li></h1> %>
        <%# <p><%= @event.date.strftime("%d/%m/%Y")</p> %>
      </div>

      <%# div teams %>
      <div class="game-flex-container">
      <div class="align">
        <h3 class="vs">VS</h3>
          <% @event.teams.each do |team|%>
          <div class="team d-flex align-items-center">
            <%=cl_image_tag team.photo.key, class: "picture-team-events"%>
            <p><%=team.name%></p>
          </div>
        </div>
        <%end%>
        <%# <p><%= @event.hour</p>  %>
        <div class="hour">
          <div class="png"><%= image_tag "TF1.jpeg",height:10, width: 40,class: "tf1"%></div><div class="hora"><%= @event.hour("%H")%></div>
        </div>
      </div>

      <%# div places %>
      <div class="place">
        <% @event.places.each do |place|%>
          <%= link_to  place_path(place),class: "lien" do %>
          <div class="div card">
            <div class="card-photo">
              <%=cl_image_tag place.photo.key, class: "picture-show-events", width: 200 %>
            </div>
              <div class="description">
              <div class="description-name">
                <%=place.name%>

                    <br>
                <%=place.address%>
                </div>
                <%# <%=place.characteristic%>
                  <div class="dispo">
                    <%if place.status == "Places disponibles"%>
                      <i class="fa-solid fa-user"></i>
                  </div>
                    <div class= "encore">
                      <% elsif place.status == "Quelques places" %>
                        <i class="fa-solid fa-users"></i>
                      </div>
                      <div class="plein">
                    <%else%>
                      <i id="red" class="fa-solid fa-screen-users"></i>
                    <%end%>
                      </div>
              </div>
          </div>

          <%# <%= link_to "Voir le bar", place_path(place) %>
          <%end%>
        <%end%>
      </div>
    </div>
  </div>
</div>


<%# <%= link_to "Retour au matchs", events_path %>
<%= render "shared/navbar" %>
