<%# view de events %>

<%# <h1>Places</h1> %>
<%# <%= render "shared/navbar" %>
<div class="cards-container-show-events">
  <div class="row-show-events">
    <div class="col-12 col-lg-6">
    <%# div competition %>
      <div class="competition-show-events">
        <%# <h1><%= @event.competition</li></h1> %>
        <%# <p><%= @event.date.strftime("%d/%m/%Y")</p> %>
      </div>
      <%# div teams %>
        <div class="flex-container">
        
        <h3 class="vs">VS</h3>
          <% @event.teams.each do |team|%>


          <%=cl_image_tag team.photo.key, class: "picture-team-events"%>
          <h3><%=team.name%></h3>

          <%end%>

        </div>
        <%# div places %>
            <div class="place">
              <% @event.places.each do |place|%>
                <%= link_to  place_path(place) do %>
                <%=cl_image_tag place.photo.key, class: "picture-show-events", width: 200 %>
                <br>
                <%=place.name%>
                    <br>
                <%=place.address%>
                    <br>
                <%# <%=place.characteristic%>
                  <br>
                <%=place.status%>

                <%# <%= link_to "Voir le bar", place_path(place) %>
                <%end%>
              <%end%>
            </div>
    </div>
  </div>
</div>


<%# <%= link_to "Retour au matchs", events_path %>
<%= render "shared/navbar" %>
