<%# view de events %>

<%# <h1>Places</h1> %>
<div class="cards-container-show-events">
  <div class="row-show-events">
    <div class="col-12 col-lg-6">
      <div class="logo">
      <%= link_to events_path,class: "lien" do %>
        <i class="fa-solid fa-backward icon-back"></i>
        <% end %>
        <%= image_tag "Component 8 (2).png", class:"png"%>
      </div>

      <%# div competition %>
      <div class="competition-show-events">
        <%# <h1><%= @event.competition</li></h1> %>
        <%# <p><%= @event.date.strftime("%d/%m/%Y")</p> %>
      </div>

      <%# teams %>
      <div class="game-flex-container">
        <div class="align">
          <h3 class="vs">VS</h3>
          <% @event.teams.each do |team|%>
            <div class="team d-flex align-items-center">
              <%=cl_image_tag team.photo.key, class: "picture-team-events"%>
              <p><%=team.name%></p>
            </div>
          <%end%>
        </div>

        <%# Hour %>
        <div class="hour">
        <%if @event.channel == "TF1"%>
          <div class="png"><%= image_tag "TF1.jpeg",height:10,class: "tf1"%></div><div class="hora"><%= @event.hour("%H")%></div>
        <% elsif @event.channel == "Bein" %>
        <div class="png"><%= image_tag "Bein_sport_logo.svg.png",height:30,class: "tf1"%></div><div class="hora"><%= @event.hour("%H")%></div>
        <% else %>
        <div class="png"><%= image_tag "Amazon-Prime-Video-Symbole.jpg",height:30,class: "tf1"%></div><div class="hora"><%= @event.hour("%H")%></div>
        <%end%>
        </div>
      </div>

      <%# places %>
      <div class="place">
        <% @event.places.each do |place|%>
          <%= link_to  place_path(place),class: "lien" do %>
            <div class=" bar-card">
              <div class="card-photo">
                <%=cl_image_tag place.photo.key, class: "picture-show-events", width: 200 %>
              </div>
              <div class="description">
                <div class="description-name">
                  <%=place.name%>
                      <br>
                  <%=place.address%>
                </div>

                <%# <%=place.characteristic%>
                <%if place.status == "Places disponibles"%>
                  <div class="dispo">
                    <i class="fa-solid fa-user"></i>
                  </div>
                <% elsif place.status == "Quelques places" %>
                  <div class= "encore">
                    <i class="fa-solid fa-user-group"></i>
                  </div>
                <%else%>
                  <div class="plein">
                    <i class="fa-solid fa-users"></i>
                  </div>
                <%end%>
              </div>
            </div>
          <%end%>
        <%end%>
      </div>
    </div>
  </div>
</div>

<%# <%= link_to "Retour au matchs", events_path %>
<%= render "shared/navbar" %>
