<%# view de events %>

<h1>Places</h1>
<%# <h1><%=@event.name%></h1> %>
<%# <ul>
<li><%= @place.picture %></li>
<%# <li><%= @place.name %></li>
<%# <li><%= @place.address %></li>
<%# <li><%= @place.characteristic %></li>


<%# </ul> %>
