<div class="container">

    <%# event : prendre le même que sur la show de l'event %>

    <%# description%>
    <div class="flexbox">
        <%# name %>
        <div class="name">
            <h1><%=@place.name%></h1>
        </div>
            
        <%# address %>
            <div class="address">
            <h1><%= @place.address%></h1>
            </div>
        
        <%# icone %>
        <%# phrase descriptif %>       
    </div>
    <%# jauge %>

    <%# MAP %>
    <div class="map" style="width: 100%; height: 400px;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
    <h2>J'y vais %></h2>
</div>

<%= render "shared/navbar"%>