<div class="cards-container-show-events">
  <div class="row-show-events">

            <%# LOGO %>
        <div class= "centrage">
          <%= link_to events_path(@event),class: "lien" do %>
            <i id="backlogo" class="fa-solid fa-backward icon-back"></i>
            <% end %>
            <%= image_tag "Logo.svg", class:"logoW-show-event" %>
        </div>

        <div class="game-flex-container-show-events">
        <div class="align">
          <h3 class="vs-show-events"><%= image_tag "vs.png" %></h3>

            <div class="team_first-show-events">
              <%=cl_image_tag @event.teams.first.photo.key, class: "picture-team-events"%>
              <p class="first-show-events"><%=@event.teams.first.name%></p>
            </div>
            <div class="team_last-show-events">
            <%=cl_image_tag @event.teams.last.photo.key, class: "picture-team-events"%>
              <p class="last-show-events"><%=@event.teams.last.name%></p>
              </div>
        </div>
        <%# Hour %>
        <div class="hour-show-event">
          <%if @event.channel == "TF1"%>
            <div class="png1"><%= image_tag "TF1.jpeg",height:13,width: 35, class: "tf1"%></div><div class="hora"><%= @event.hour("%H")%></div>
          <% elsif @event.channel == "Bein" %>
          <div class="png1"><%= image_tag "bein-ok.jpg",height:13, width: 35,class: "bein"%></div><div class="hora"><%= @event.hour("%H")%></div>
          <% else %>
          <div class="png1"><%= image_tag "prime-video-ok.jpg",height:1, width: 35, class: "amazonprime"%></div><div class="hora"><%= @event.hour("%H")%></div>
          <%end%>
        </div>
      </div>

        <%# description%>
      <div class="ajout_padding_show">
        <div class="btn_tchat"><%= link_to "tchat", chatroom_path(@place.chatrooms.last) %></div>
            <%# name %>
            <div>
              <div>
                <div class="name">
                  <h1 class="naming_place"><%=@place.name%> </h1>
                </div>
            <%# address %>
              <div class="address">
                <h1 class="address_place"><%= @place.address%></h1>
                <h1 class="address_place"><%= @place.city%></h1>
              </div>
          </div>
        </div>
      </div>

            <%# jauge & icons %>

                <div class="dispo-show-places d-flex justify-content-between align-items-center mb-3">
                  <div class="icon-wrapper">
                    <i id="handicap" class="fa-solid fa-wheelchair-move"></i>
                    <i id="tv" class="fa-solid fa-tv"></i>
                    <i id="dog" class="fa-solid fa-dog"></i>
                    <i id="wifi" class="fa-solid fa-wifi"></i>
                    <i id="smoke" class="fa-solid fa-smoking"></i>
                  </div>

                  <%if @place.status == "Vide" %>
                    <div class="gauge-wrapper-vide d-flex">
                      <p class="m-0">25%</p>
                      <i class="fa-solid fa-user"></i>
                    </div>
                  <%elsif @place.status == "Places disponibles"%>
                    <div class="gauge-wrapper-dispo d-flex">
                      <p class="m-0">50%</p>
                      <i class="fa-solid fa-user"></i>
                    </div>
                  <%elsif @place.status == "Quelques places" %>
                    <div class="gauge-wrapper-encore d-flex">
                      <p class="m-0">75%</p>
                      <i class="fa-solid fa-user-group"></i>
                    </div>
                  <%else%>
                    <div class="gauge-wrapper-plein d-flex">
                      <p class="m-0">100%</p>
                      <i class="fa-solid fa-users"></i>
                    </div>
                  <%end%>
                </div>

            <%# phrase descriptif %>
            <%# <div class="sentence">
                <h1 class="sentence_place"><%=@place.characteristic</h1>
            <%# </div> %>


        <%# MAP %>
        <div class= "wrap_map">
            <div class="map" style=" width: 100%; height: 500px; "
                data-controller="map"
                data-map-markers-value="<%= @markers.to_json %>"

                data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
            </div>
            <%= button_to @place.status == "Complet" ? "Complet" : "J'y vais", event_place_path(@event, @place), method: :patch, class: "btn_show", disabled: @place.status == "Complet" %>

        </div>
    </div>
</div>

<%= render "shared/navbar"%>
