<div class="place_show_container">

    <%# event : prendre le même que sur la show de l'event %>
    <div class="row-show-place">
    <div class="col-12 col-lg-6">
    <div class="logo_team">
        <div class="png"><%= image_tag "Component 8 (2).png",height:60, width: 80%></div>
    </div>

    <div class="place-flex-container">
        <div class="align_place">
            <h3 class="vs">VS</h3>
                <% @team.name do |team|
                <div class="team d-flex align-items-center">
                <%=cl_image_tag team.photo.key, class: "picture-team-events"%>
                <p><%=team.name%></p>
            </div>
        </div>    
    </div>  
    <%# description%>
    <div class="flexbox">
        <%# name %>
        <div class="name">
            <h1><%=@place.name%></h1>
        </div>
            
        <%# address %>
        <div class="address">
            <h1><%= @place.address%></h1>
        </div>
        
        <%# icone %>
        <%# phrase descriptif %>    
        <div class="sentence">
            <h1><%=@place.characteristic%></h1>
        </div>
    </div>
    <%# jauge %>

    <%# MAP %>
    <div class="map" style="width: 100%; height: 400px;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
    <h2>J'y vais %></h2>
</div>

<%= render "shared/navbar"%>